[flake8]
inline-quotes = double
avoid-escape = True
per-file-ignores =
    __init__.py:F401
    __init__.py:D104
    django_contexter/models/views.py:WPS226
max-line-length=120
ignore =
    WPS305
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    build,
    ./example/**/*
docstring-quotes = """
